* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'montserrt';
color: #fff ;
}
html, body{
    height:100%;
    width: 100%;
}
#nav{
height: 145px ;
width: 100%;
/* background-color: black; */
display: flex;
align-items: center;
justify-content: flex-start;
padding: 0 150px ;
gap:  50px;
position: fixed;
z-index: 99;

}
#nav img{
    height: 74px;
    width: 98px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
#cursor{
    height: 15px;
    width: 15px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;

}

video{
    height: 100%;
    width: 100%;
    filter: saturate(1);

    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
/* position: relative; */
background-color: rgba(0, 0, 0,0.37);
}
#page1{
/* position: relative;   */
 height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
text-align:center
} 
#page1 h1{
     font-size: 140px;
      font-weight: 900;
}
#page1 h1 ::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: #000;
    top:-4px;
    left: -4px;
-webkit-text-stroke: 2px  ;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
   margin-top: 10px;
   margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    max-width: 72rem;   
}
#page2{
    height: 100vh;
    width: 100%;
}
#scroller{
    /* background-color: red ; */
    white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        z-index: 10 ;
}
#scroller ::-webket-scrollbar{
display: none; 
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px; 
    transition: all linear 0.5s;
    color:transparent;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover {
  color: #95c11e;
  -webkit-text-stroke: 2px #95c11e;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}